@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
*{ 
Margin:0;
Padding:0;
Box-sizing: border-box;
Font-family: 'poppins',sans-serif;
transition: all 0.15s ease-out;
}
p{
    font-family: 'Roboto' ;
    font-size: 20px;
    line-height: 28px;
    color: #032d60d6;
}

html,body{
Width:100%;
Height:100%;

}
h1{
    font-size: 3.5rem;
    line-height: 63px;
    color: #032d60;
}
h2{
    font-size: 2.5rem;
    line-height: 56px;
    color: #032d60;
}
h3{
    font-size: 1.5rem;
    line-height: 40px;
    color: #032d60;;
}
h4{
    font-size: 20px;
    line-height: 28px;
}
a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #032d60;
}
a:hover{
    color: #0176d3;
}
ul{
    list-style: none;
}
button{
    padding:12px 24px 12px 24px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}
button:hover{
    transform: scale(1.03);
}
img{
    object-fit: cover;
}
:root{
    --blue1:#032d60;
    --blue2:#0b5cab;
    --blue3:#0176d3;
}
.container{
    max-width: 1280px;
    margin-inline: auto;
    overflow-x: hidden;
}

/* utility styling */
.fix{
    position:fixed;
    width: 100%;
    perspective: 10px;
    z-index: 1;
    box-shadow: 0 0 12px rgba(172, 172, 172, 0.83);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:20px 25px 20px 25px;
}
.nav-link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--blue1);
    gap: 20px;
}
#nav-link{
    color: var(--blue1);
}
#nav-link:hover{
    color: #0176d3;
}
.nav-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--blue1);
    gap: 30px;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.cont a{
    text-decoration: underline;
    font-size: medium;
    color: #324965;

}
.cont p{
 font-size: small;
}
#nav-img{
    height: 56px;
    cursor: pointer;
}
.icon{
    color: #032d60;
    font-size: 1.5rem;
}
.cont-but1{
   background-color: white;
   color: #032d60;
   border-radius: 8px;
}
.cont-but1:hover{
    color: #0176d3;
    box-shadow: 0 0 12px rgba(172, 172, 172, 0.83);
}
.cont-but2{
    background-color: #2e844a;
    border: #2e844a;
    color: white;
    border-radius: 8px;
    
 }
 .cont-but2:hover{
    background-color: #1f6135;
    box-shadow: 0 0 12px rgba(172, 172, 172, 0.83);
}
.hero{
    padding-top: 98px;
    display: flex;
    gap: 320px;
    justify-content: space-between;
    background-image: url(image/php-marquee-starter-lg-bg.jpg);
    background-size: cover;
    overflow-y: hidden;
    padding-bottom: 10px;
}
.herotxt{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 45px;
    
}
.hero-but{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}
.heromed{
    height: 145px;
    width: 700px;

}
.media{
    width: 540px;
    height: 300px;
    position: relative;
    top: 90px;
    right: 100px;
    border-radius: 30px;
    cursor: pointer;
}
.media:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #0174d31f;
}
.but1{
    color: white;
    background-color: #0176d3;
    border:2px solid #0176d3;
    border-radius: 6px;
    padding: 17px 34px 17px 34px;
}
.but1:hover{
    background-color: #032d60;
}
.but2{
    color: #0176d3;
    border: 2px solid #0176d3;
    border-radius: 6px;
    padding: 17px 34px 17px 34px;
}
.but2:hover{
    color: #032d60;
    border-color: #032d60;
    background-color: #2f70b130;
}
.prodtxt{
    box-sizing: border-box;
    text-align: center;
    padding: 70px 250px;
    margin-top: 20px;
}
.product{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fefefe;
}
.card1{
    border: 0.8px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 3px black;
    display: flex;
    flex-direction: column;
    height: 390px;
    width: 280px;
    border-radius: 18px;
    gap: 30px;
    box-shadow: 0 0 12px rgba(172, 172, 172, 0.83);
    cursor: pointer;
}
.card-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 17px;
    padding:13px 27px 0px 27px;
 
}
#card{
    border-radius: 17px;
}
#prod-sec{
width: 100%;
position: relative;
bottom: 180px;
}
.bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 540px;
}
.view-but{
    margin-top: 120px;
    cursor: pointer;
  }
  .trial{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 39px;
      padding-inline: 240px;
      text-align: center;
      line-height: 56px;
      overflow-y: hidden;
      padding-bottom: 10px;
  }
  .trial-but{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
  }
  .txt{
      padding-top: 100px;
      padding-bottom: 50px;
      padding-inline: 320px;
      text-align: center;
      line-height: 56px;
  }
  .skl-card{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-top: 50px;
      
  }
  .card2{
      width: 384px;
      height: 465px;
      box-sizing: border-box;
      padding: 29px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      gap: 17px;
      border: 0.8px solid rgb(255, 255, 255);
      border-radius: 30px;
      box-shadow: 0 0 12px rgba(172, 172, 172, 0.83);
      cursor: pointer;
  }
  .card1:hover,.card2:hover{
      transform: scale(1.03);
  }
  .but3{
      color: #032d60;
      border: none;
      background-color: #0174d36a;
      border-radius: 30px;
      padding: 8px 16px 8px 16px;
  }
  .card2 img{
      height: 120px;
      align-self: center;
  }
  .tel{
      text-decoration: underline;
      color: #032d60;
  }
  .tel:hover{
      color: #0176d3;
  }
  .compny{
      margin-block: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 80px;
      padding-inline: 280px;
      text-align: center;
  }
  .comp{
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      padding-block: 30px;
  }
  .card3{
      width: 200px;
      height: 100px;
      box-sizing: border-box;
      padding: 25px 30px 25px 30px;
      border: 0.8px solid rgb(255, 255, 255);
      border-radius: 10px;
      box-shadow: 0 0 12px rgba(172, 172, 172, 0.83);
  }
  .card3 img{
      height: 48.95px;
  }
  #prod-sec2{
      width: 100%;
  }
  